*~
*.swp
*.bak
*.so
*.o
*.ko
*.html
jutil/egtest
jutil/libjutil.a
jutil/trun
kernel/.exmap.ko.cmd
kernel/.exmap.mod.o.cmd
kernel/.exmap.o.cmd
kernel/.tmp_versions/
kernel/Module.symvers
kernel/exmap.mod.c
kernel/modules.order
src/elftool
src/exmtool
src/gexmap
src/showproc
src/t_artsd
src/t_elf
src/t_exmap
src/t_pcre
src/t_range
tools/allocer
tools/getpagesize
tools/mapit
tools/mapper
tools/memload
tools/pagesize.h
tools/sharedarray
