html { 
  background-color: #FFFFCC;
}
.header { 
  position: relative;
  margin: 0 0 0 20%;
}

.footer { 
  position: relative;
  margin: 0 0 0 20%;
  font-size: smaller;
}

.linkbox {
  position: absolute;
  width: 18%;
  line-height: 300%;
}

.linkbox ul {
  list-style: none;
  padding-left: 1%;
}

.pagebody { 
  position: relative;
  margin: 0 0 0 20%;
}

.docheader {
  font-size: larger;
}

.doctext {
}

.doctext li { 
  padding-bottom: 0.5em;
}

.question {
  font-style: italic;
  border-bottom: 1px solid #000;
}
.answer { }